:root{
  --grey: #BCBBBB;
  --orange: #F48024;
  --dark: rgb(70, 70, 70);
}

body{
  background-color: var(--dark);
}





.App {
  text-align: center;
  width: 80%;
  margin: 1em auto;

  font-family: Arial, Helvetica, sans-serif;
}









header{
  text-align: left;
}

a {
  color: var(--orange);
}

p{
  color: var(--grey);
}

.em-grey{
  color: var(--grey);
}

.em-orange{
  color: var(--grey);
  animation-name: reveal-prediction;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}












#user-form{
  width: 100%;
  padding: 1em 0;

  background-color: whitesmoke;
  box-shadow: 4px 4px 20px var(--grey);
  border-radius: 8px;
}

#user-form-text{
  resize: none;
  width: calc(100% - 6em);
  height: 350px;

  padding: 1em;

  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 10px var(--dark) inset;

  font-size: 1.5em;

  background-color: var(--grey);
  color: var(--dark);
}

#user-form input[type="submit"]{
  margin: 1em 0;
  padding: 0.5em;
  font-size: 1.25rem;

  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px var(--dark);

  cursor: pointer;

  background-color: var(--grey);
  color: var(--dark);
}






.section-header{
  color: var(--grey);
}


.tag{
  display: inline-block;
  margin: 0 2em;
}

.prediction-false{
  color: #BCBBBB;
}

.prediction-true{
  color: #F48024;
  animation-name: reveal-prediction;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes reveal-prediction{
  from{
    color: #BCBBBB;
  }
  to{
    color: #F48024;
  }
}